@font-face {
  font-family: 'LXGW WenKai Mono TC';
  src: url('@/assets/fonts/LXGW_WenKai_Mono_TC/LXGWWenKaiMonoTC-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'LXGW WenKai Mono TC';
  src: url('@/assets/fonts/LXGW_WenKai_Mono_TC/LXGWWenKaiMonoTC-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'LXGW WenKai Mono TC';
  src: url('@/assets/fonts/LXGW_WenKai_Mono_TC/LXGWWenKaiMonoTC-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
